h1 {
  margin: 0 0 30px 0;
  text-align: center;
  color: rgb(56, 42, 139);
}

form {
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #a4cad6;
  border-radius: 8px;
}

p.signupMessage{
  text-align: center;
}

button.signin {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #4b62c9;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3ab1c1;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

button.signout {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #c02020;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3ab1c1;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

button.submit {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #4b62c9;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3ab1c1;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

button.signup {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #4b62c9;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3ab1c1;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 90%;
  background-color: #e8eeef;
  color: #0a3a5c;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}